{{#each this}}
<div class="photo-card">
    <img class="img_Lightbox" src=" {{webformatURL}}" alt="" data-source="{{largeImageURL}}" />

    <div class="stats">
        <p class="stats-item">
            <a href="#"></a><i class="material-icons">thumb_up</i></a>
            {{likes}}
        </p>
        <p class="stats-item">
            <a href="#"><i class="material-icons">visibility</i></a>
            {{views}}
        </p>
        <p class="stats-item">
            <a href="#"><i class="material-icons">comment</i></a>
            {{comments}}
        </p>
        <p class="stats-item">
            <a href="#"><i class="material-icons">cloud_download</i></a>
            {{downloads}}
        </p>
    </div>
</div>
{{/each}}